
    <footer>

        <div class="container-fluid blue darken-3 ngaah">
    
            <div class="container">
                <br>
                
                <h5 class="white-text "><i class="material-icons white-text">equalizer</i> COVID-19</h5>
                
                <p class=" white-text"> Copyright &copy; 2020 Ngaah.id Created By <a class="white-text" href="https://github.com/ximplah"> Gilang Dandung </a> </p>

                <div class="row">
                <div class="col s12 m4">
                <p class="white-text"> Data Source </p>
                <a href="https://github.com/NovelCOVID/API"><i class="large material-icons white-text">explore</i></a>
                <a href="https://github.com/pomber/covid19"><i class="large material-icons white-text">archive</i></a>
                <a href="https://github.com/CSSEGISandData/COVID-19"><i class="large material-icons white-text">event_note</i></a>
                </div>

                <div class="col s12 m4">
                <p class="white-text"> Explore This Code (OPEN SOURCE) </p>
                <a href="https://github.com/ximplah/covidjs"><i class="large material-icons white-text">folder_special</i></a>
                </div>
                </div>
                
                
                
            </div>
            <br>
          </div>

    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script src="/assets/js/dataTables.min.js"></script>
    
    <script>

        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 1000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
              
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162038215-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162038215-1');
</script>
