<!DOCTYPE html>
<html>
<head>
     <!-- Compiled and minified CSS -->
    <title> {{title}} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" integrity="sha256-YjcCvXkdRVOucibC9I4mBS41lXPrWfqY2BnpskhZPnw=" crossorigin="anonymous" />

    <link rel="icon" type="image/png" href="/ico.png">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="COVID-19 World Monitoring by country case with chart histories!">
    <meta name="keyword" content="COVID-19, Corona, Corona Indonesi, Covid CASE ">

    <style>
        div.material-table table { table-layout:auto;}
        
    </style>
</head>
